$pInfoH: 600px; //card info height
$pInfoW: 40%; //card info width
$carMindWidth: 400px; //min width
$calcHeigh: calc(100% - 150px); //Высота aboutArticle
//Image
$imageHeigh: 333px;
$imageWidth: 300px;
$imagePadding: 10px;
$imageBorder: 1px;
//Mini Image
$miniImageHeigh: 100px;
$miniImageWidth: 100px;
$miniImagePadding: 3px;
$miniImageBorder: 1px;
//

body {
  overflow-y: scroll;
}

#aboutPageArticle {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  & > div {
    position: relative;
    overflow: scroll;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding: 150px 10% 0 10%;

    height: $calcHeigh;
  }
}

#personalInfo {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  height: $pInfoH;
  width: $pInfoW;
  min-width: $carMindWidth;
  max-width: $carMindWidth * 2;

  .textField * {
    line-height: 1.1rem;

    margin: 0;
  }
}
#photoSection {
  margin-right: 10%;
  margin-top: 5%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 0;

  figure {
    width: calc(#{$imageWidth} + #{$imagePadding}* 2 + #{$imageBorder}* 2);
    margin: 0;
    img {
      height: $imageHeigh;
      width: $imageWidth;
      border-radius: 10px;
      border: $imageBorder solid black;
      padding: $imagePadding;
      -webkit-box-shadow: 0 0 1px 1px rgb(102, 102, 102);
      box-shadow: 0 0 1px 1px rgb(102, 102, 102);
    }
  }
  figcaption {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
  }
}
@media screen and (max-width:#{$carMindWidth * 2}) {
  #personalInfo,
  #photoSection {
    margin: auto;
  }
  #personalInfo {
    height: 300px;
    min-width: 300px;
    flex-grow: 1;
  }
  #photoSection {
    margin-bottom: 10%;
    figure {
      width: calc(
        #{$miniImageWidth} + #{$miniImagePadding}* 2 + #{$miniImageBorder}* 2
      );
      margin: 0;
      img {
        height: $miniImageHeigh;
        width: $miniImageWidth;
        border-radius: 10px;
        border: $miniImageBorder solid black;
        padding: $miniImagePadding;
        -webkit-box-shadow: 0 0 1px 1px rgb(102, 102, 102);
        box-shadow: 0 0 1px 1px rgb(102, 102, 102);
      }
      figcaption {
        display: none;
      }
    }
  }
  #aboutPageArticle > div {
    padding: 0px;
    padding-top: 5%;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 90%;
  }
}
