$pInfoH: 600px;
$pInfoW: 400px;
$cardWidth: 400px;
$calcHeigh: calc(100vh - 150px);

body {
  overflow-y: scroll;
}

#aboutPageArticle {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  //
  // height: 80vh;
  // width: 90vw;
  //

  // border: 1px solid black;
  div {
    position: relative;
    overflow: scroll;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 150px 5% 0 5%;
  }
}

#personalInfo {
  // position: relative;
  display: block;
  //
  height: $pInfoH;
  width: $pInfoW;
  min-width: $cardWidth;
  //
  // margin: 0 0 0 auto;
  border: 1px solid black;
}
#photoSection {
  figure {
    margin: 0;
  }
  figcaption {
  }
}
@media screen and (max-width:#{$cardWidth * 2}) {
  #personalInfo,
  #photoSection {
    // display: block;
    top: 0;
    right: auto;
    margin: auto;
  }
  #aboutPageArticle {
    // top: 0;
    margin-top: 0;
    flex-direction: column;
  }
}
