#moveBg {
  margin: 0;
  position: absolute;
  width: 100%;

  left: 0;
  top: 0;
  z-index: -10;
}
#staticBg {
  position: fixed;

  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -9;
  background-image: url("../publicFiles/Pines&Mountains.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
