#projectsPage {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  //
  height: 100%;
  width: 100%;
  //
  & > div {
    position: relative;
    border-radius: 5%;
    -webkit-box-shadow: 0 0 3px 3px black;
    box-shadow: 0 0 3px 3px black;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;

    margin: 150px auto 0 auto;

    height: 700px;
    max-width: 50%;
    min-width: 300px;
    //
    overflow: hidden;

    //
    // * animation
    //
    -webkit-animation-name: turn;
    animation-name: turn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    //

    ul.mainList {
      list-style-type: none;
      padding-left: 5%;
      padding-right: 5%;
      li {
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .botBorder {
          position: absolute;
          border-bottom: 1px dotted black;
          width: 90%;
          left: 5%;
          bottom: 0;
        }
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        &:hover {
          -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.7);
          .botBorder {
            display: none;
          }
        }
      }
    }

    .detailedProj {
      opacity: 0;
      margin: 5%;
      margin-top: 2%;
      height: 93%;
      color: black;

      -webkit-animation-name: appear;

      animation-name: appear;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
      .back {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: calc(50% - 51px);

        border: 1px solid gray;
        border-radius: 5%;
        padding-left: 5px;
        height: 40px;
        width: 100px;

        &:hover {
          background-color: rgba(128, 128, 128, 0.479);
        }
      }
      .text {
        padding-left: 10px;
        padding-right: 5px;
        height: 90%;
        max-height: 90%;
        overflow-y: scroll;
        border-bottom: 1px solid black;
      }
    }
  }
}
@-webkit-keyframes turn {
  from {
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes turn {
  from {
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
//
